<div class="banner mb-3">
  <div class="container">
    <div class="w-50 ">
      <h1 style="font-size: 60px; font-family: Alice; font-weight: lighter; color: white">YOUR DREAMS</h1>
      <h1 style="font-size: 30px; font-weight: lighter; color: white">Rent and explore captivating dreamscapes, all while you rest!</h1>
      <p style="color: white"> Your perfect night is just a dream away.</p>
      <p style="color: white"><i>— because why let your imagination sleep? 🌙✨</i></p>
    </div>
  </div>
</div>

<span class="circle"></span>
<button class="btn btn-primary">ALLALALA</button>

<span class="circle-bottom-left"></span>



<%= link_to "Index", dreams_path, class: "btn btn-primary"%>


<%# style="background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.7)), url(https://img.freepik.com/free-vector/mobile_53876-166870.jpg?semt=ais_hybrid);" %>
