
  <div class="banner mb-3">
  <div class="container">
    <div class="w-50 ">
      <h1 style="font-size: 60px; font-family: Alice; font-weight: lighter; color: white">YOUR DREAMS</h1>
      <h1 style="font-size: 30px; font-weight: lighter; color: white">Experience the extraordinary while you sleep. Rent dreams tailored to your imagination.</h1>
      <p style="color: white"> Your perfect night is just a dream away. 🌙✨</p>
    </div>
  </div>
</div>


    <div class="d-flex justify-align-center vh-100 align-items-center" >
      <div class="about ">
        <h2>What We’re About</h2>
        <p>Transform your nights into unforgettable adventures. Choose from a library of custom dreamscapes designed by experts.</p>
      </div>
        <img src="https://images.unsplash.com/photo-1513436539083-9d2127e742f1?q=80&w=2063&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="half-image">
    </div>


    <div class="what">
      <h2>How It Works</h2>
      <ol>
        <li>Pick a dream scenario that sparks your curiosity.</li>
        <li>Set your sleep schedule and enjoy your dream experience.</li>
        <li>Wake up refreshed, inspired, and ready for a new day!</li>
      </ol>
    </div>

    <div class="text-center cta">
      <h2 class="mb-5">Ready to Transform Your Sleep?</h2>
      <%= link_to "Get Started Now", dreams_path, class: "button-85", style: "font-size: 30px; text-decoration: none;"%>
      <div class="blob"></div>

    </div>




<span class="circle-bottom-left"></span>

<br>



<%# style="background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.7)), url(https://img.freepik.com/free-vector/mobile_53876-166870.jpg?semt=ais_hybrid);" %>
