.circle {
  width: 500px; /* Diameter of the circle */
  height: 500px; /* Diameter of the circle */
  background-color: #C680FF; /* Circle color */
  filter: blur(90px); /* Blur effect */
  border-radius: 50%; /* Makes it a circle */
  position: absolute; /* Allows positioning relative to the window */
  top: 100px; /* Adjust as needed to move it partially off-screen */
  left: 244px; /* Adjust as needed to move it partially off-screen */
  z-index: -1; /* Ensures it is behind other elements */
}

.circle-wrapper {
  width: 700px;
  height: 700px;
  // overflow: hidden;
  // overflow-x: hidden;

  top: 0;
  right: 0;
}
.circle-bottom-left {
  width: 300px; /* Diameter of the circle */
  height: 300px; /* Diameter of the circle */
  background: radial-gradient(circle at 50% 50%,
  #edd6ff 30%, #C680FF 50%, #c680ff 70%, #3034aa 90%);  filter: blur(70px); /* Blur effect */
  border-radius: 50%;
  filter: blur(50px);
  border-radius: 50%; /* Makes it a circle */
  position: absolute; /* Position relative to the window */
  bottom: -200px; /* Move the circle partially off-screen */
  left: -200px; /* Align it to the left edge */
  z-index: -1; /* Send it behind the main content */
}

  /* Ensure the blob is positioned absolutely within the viewport */
.blob {
  z-index: -1;
  width: 300px;
  height: 300px;
  background: radial-gradient(circle at 50% 50%, #f47676 30%, #1100d0 50%, #ff008c 70%, #3034aa 90%);
  border-radius: 50%;
  filter: blur(50px);
  position: absolute;  /* This keeps the blob within the bounds of the viewport */
  top: 38%; /* Center vertically */
  left: 32%; /* Center horizontally */
  transition: transform 0.1s ease-out; /* Smooth out movement */
}

/* Prevent the page from scrolling */
html, body {
  overflow-y: visible;
  height: 100%;
  margin: 0; /* Remove margin */
}
