// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/forms";


@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");

body {
  /* background: linear-gradient(to right, #f9c6d0, #d6a9f6, #a0c8f0); */
  background-color: #5903BC;
  min-height: 100vh;
  margin: 0;
}
